pin-depends: [
  [ "coq-sail-tiny-arm.dev" "git+https://github.com/rems-project/sail-tiny-arm.git#d0b3032" ]
  [ "coq-sail-arm.dev" "git+https://github.com/rems-project/sail-arm.git#0b344bf"]
  [ "libsail.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_c_backend.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_coq_backend.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_doc_backend.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_latex_backend.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_lean_backend.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_lem_backend.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_smt_backend.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_sv_backend.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_ocaml_backend.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_output.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
  [ "sail_manifest.0.20" "git+https://github.com/rems-project/sail.git#89165dcc"]
]
