pin-depends: [
  [ "libsail.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_c_backend.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_coq_backend.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_doc_backend.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_latex_backend.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_lean_backend.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_lem_backend.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_smt_backend.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_sv_backend.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_ocaml_backend.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_output.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
  [ "sail_manifest.0.19.1" "git+https://github.com/rems-project/sail.git#54574467"]
]
