pin-depends: [
  [ "coq-sail-tiny-arm.dev" "git+https://github.com/rems-project/sail-tiny-arm.git#1a32826"]
  [ "libsail.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_c_backend.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_coq_backend.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_doc_backend.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_latex_backend.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_lean_backend.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_lem_backend.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_smt_backend.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_sv_backend.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_ocaml_backend.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_output.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
  [ "sail_manifest.0.19.1" "git+https://github.com/rems-project/sail.git#38371c9f"]
]
