pin-depends: [
  [ "coq-sail-stdpp.0.20" "git+https://github.com/rems-project/coq-sail.git#6136421"]
  # This is not a direct dependency, but it must have a compatible version with
  # coq-sail-stdpp, so we lock it anyways
  [ "libsail.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_c_backend.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_coq_backend.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_doc_backend.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_latex_backend.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_lean_backend.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_lem_backend.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_smt_backend.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_sv_backend.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_ocaml_backend.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_output.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
  [ "sail_manifest.0.20" "git+https://github.com/rems-project/sail.git#89f1a2f4"]
]
