name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# cancel in-progress job when a new push is performed (except on main)
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Install system dependencies (ubuntu)
      run: |
        sudo apt update
        sudo apt install -y build-essential z3 cmake pkg-config

    - name: Get up-to-date OPAM
      run: |
        wget -O opam-2.5 https://github.com/ocaml/opam/releases/download/2.5.0/opam-2.5.0-x86_64-linux

    - name: Check OPAM signature
      run: |
        echo "7aae51da01a66666c8733130852c2c00546eff486effb0999b78145cb75aee74  opam-2.5" | sha256sum --check

    - name: Install OPAM
      run: |
        sudo install opam-2.5 /usr/local/bin/opam

    - name: Restore OPAM cache
      id: cache-opam-restore
      uses: actions/cache/restore@v4
      with:
        path: ~/.opam
        key: locked-${{ hashFiles('*.opam.locked') }}

    - name: Initialize OPAM
      if: ${{ steps.cache-opam-restore.outputs.cache-hit != 'true' }}
      run: |
        opam init --yes --no-setup --bare --disable-sandboxing --shell=sh

    - name: Add Rocq OPAM repo
      if: ${{ steps.cache-opam-restore.outputs.cache-hit != 'true' }}
      run: |
        opam repo add --yes --set-default rocq-released https://rocq-prover.org/opam/released

    - name: Create OPAM switch
      if: ${{ steps.cache-opam-restore.outputs.cache-hit != 'true' }}
      run: |
        opam switch create --empty archsem-switch

    - name: Install OPAM dependencies
      if: ${{ steps.cache-opam-restore.outputs.cache-hit != 'true' }}
      run: |
        opam install . --deps-only --locked --confirm-level=unsafe-yes

    - name: Clean OPAM folder for caching
      if: ${{ steps.cache-opam-restore.outputs.cache-hit != 'true' }}
      run: |
        opam clean
        opam clean -r
        opam clean -c
        rm -rf ~/.opam/archsem-switch/.opam-switch/sources
        rm -rf ~/.opam/repo/

    - name: Save OPAM cache
      uses: actions/cache/save@v4
      if: ${{ steps.cache-opam-restore.outputs.cache-hit != 'true' }}
      with:
        path: ~/.opam
        key: locked-${{ hashFiles('*.opam.locked') }}

    - name: Build
      run: |
        opam exec -- dune build

    - name: Run tests
      run: |
        opam exec -- dune runtest
