name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# cancel in-progress job when a new push is performed (except on main)
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Install system dependencies (ubuntu)
      run: |
        sudo apt update
        sudo apt install -y build-essential z3 cmake pkg-config

    - name: Get up-to-date OPAM
      run: |
        wget -O opam-2.5 https://github.com/ocaml/opam/releases/download/2.5.0/opam-2.5.0-x86_64-linux

    - name: Check OPAM signature
      run: |
        echo "7aae51da01a66666c8733130852c2c00546eff486effb0999b78145cb75aee74  opam-2.5" | sha256sum --check

    - name: Install OPAM
      run: |
        sudo install opam-2.5 /usr/local/bin/opam


    - name: Restore OPAM cache
      id: cache-opam-restore
      uses: actions/cache/restore@v4
      with:
        path: ~/.opam
        key: locked-${{ hashFiles('*.opam.locked') }}

    - name: Install OPAM dependencies
      if: ${{ steps.cache-opam-restore.outputs.cache-hit != 'true' }}
      run: |
        echo "Initializing opam"
        opam init --yes --no-setup --bare --disable-sandboxing --shell=sh
        echo "Adding rocq-released"
        opam repo add --yes --set-default rocq-released https://rocq-prover.org/opam/released
        echo "Creating an empty switch"
        opam switch create --empty archsem-switch
        eval $(opam env --switch=archsem-switch)
        echo "Updating opam"
        opam update
        echo "Installing dependencies"
        opam install . --deps-only --locked --confirm-level=unsafe-yes
        echo "Cleaning up for cache size"
        opam clean
        opam clean -r

    - name: Save OPAM cache
      uses: actions/cache/save@v4
      if: ${{ steps.cache-opam-restore.outputs.cache-hit != 'true' }}
      with:
        path: ~/.opam
        key: locked-${{ hashFiles('*.opam.locked') }}

    - name: Build
      run: |
        opam switch archsem-switch
        eval $(opam env)
        dune build

    - name: Run tests
      run: |
        opam switch archsem-switch
        eval $(opam env)
        dune runtest
